
:root {

  --color-light-100: #fff;

  --color-main: #f9f9fa;

  --color-dark-100: rgba(255, 255, 255, 0.4);
  --color-dark-500: #272B31;
  --color-dark-700: #232229;
  --color-dark-900: #000;

  //indigo
  --color-indigo-100-rgba: 79, 70, 229;
  --color-indigo-100: #9683EC;
  --color-indigo-500: #6d59ff;
  --color-indigo-900: #2b0071;
}

