<div class="swiper" #swiperContainer>
  <div class="swiper-wrapper">

    @if (mainVariant()) {
      @for (slide of slides(); track slide; let index = $index) {
        <div class="swiper-slide">
          <div class="swiper__main-wrapper">
            <div class="swiper__main-content">
                <span class="swiper__main-title">FIND SOMETHING FOR YOURSELF</span>
              @if (links().length) {
                <app-button
                  [routerLink]="['/products-list']"
                  [queryParams]="{categoryId: links()[index]}"
                >See more
                </app-button>
              }
            </div>
            <img [src]="slide" alt="Slide" class="swiper__main-image">
          </div>
        </div>
      } @empty {
        <div class="empty-block">
          <app-loader></app-loader>
        </div>
      }
    } @else {
      @for (slide of slides(); track slide + random()) {
        <div class="swiper-slide">
          <img class="swiper-slide__small-img" [src]="slide | validateSliderImage" (error)="onImageError($event)"  alt="Slide">
        </div>
      }
    }
  </div>
    @if (slidesLength()) {
      <div
        class="swiper-button-prev"
        (click)="$event.stopPropagation()"
        (keydown.enter)="$event.stopPropagation()"
        tabindex="0"
        role="button"
      >
      </div>


      <div
        class="swiper-button-next"
        (click)="$event.stopPropagation()"
        (keydown.enter)="$event.stopPropagation()"
        tabindex="0"
        role="button"
      >

      </div>
    }
    <div class="swiper-pagination"></div>
</div>
