@use '../../styles/helpers' as *;

.card {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  background-color: var(--color-light-100);
  box-shadow: 0 rem(13) rem(19) rgba(0, 0, 0, 0.07);
  padding: rem(10) rem(30) rem(35) rem(30);
  min-height: rem(610);
  &__inner {
    display: flex;
    height: auto;
    flex-direction: column;

  }

    &__info {
      padding: rem(20) 0;
    }

    &__description {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
      text-overflow: ellipsis;
      line-height: 1.5em;
      max-height: calc(1.5em * 4);
    }

    &__img {
      width: 100%;
      height: 100%;
    }

    &__title {
      @include hover-transition;
      display: inline-block;
      margin-bottom: rem(10);
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      text-wrap: wrap;
      line-height: 1.5em;

      &:hover {
        color: var(--color-indigo-500);
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: rem(30);
    }

    &__price {
      font-weight: var(--font-weight-bold);
    }
  }


