@if (card(); as card) {
  <div
    class="card"
    [class.card--horizontal]="variant() === 'horizontal'"
    [class.card--cart]="isCartVariant()"
  >
    <div
      class="card__inner"
      [class.card__inner--horizontal]="variant() === 'horizontal'"
    >
      <a
        class="card__carousel"
        [class.card__carousel--horizontal]="variant() === 'horizontal'"
        [routerLink]="['/', 'product', card.id]"
        (click)="onModalClose()"
      >
        <app-carousel [slides]="card.images"></app-carousel>
      </a>
      <div
        class="card__content-group"
        [class.card__content-group--horizontal]="variant() === 'horizontal'"
      >
        <div class="card__info">
          <a
            class="card__title"
            [routerLink]="['/', 'product', card.id]"
            (click)="onModalClose()">
            <h3>{{card.title}}</h3>
          </a>
          <div class="card__description">
            {{card.description}}
          </div>
        </div>

        <hr class="separator"/>

        <div class="card__footer">
          <span class="card__price">{{card.price | convertPipeTs}}</span>
          @if (!isCartVariant()) {
            <app-button (click)="onAddToCard()">
                @if (!inCart()) {
                  <app-cart-stroke-icon></app-cart-stroke-icon>
                } @else {
                  <app-check-icon></app-check-icon>
                }
            </app-button>
          }
        </div>

      </div>
    </div>
  </div>
}


