@if (card(); as card) {
  <div
    class="card"
    [class.card--horizontal]="variant() === 'horizontal'"
    [class.card--cart]="isCartVariant()"
  >
    <div
      class="card__inner"
      [class.card__inner--horizontal]="variant() === 'horizontal'"
    >
      <a
        class="card__carousel"
        [class.card__carousel--horizontal]="variant() === 'horizontal'"
        [routerLink]="['/', 'product', card.id]"
      >
        <app-carousel [slides]="card.images"></app-carousel>
      </a>
      <div
        class="card__content-group"
        [class.card__content-group--horizontal]="variant() === 'horizontal'"
      >
        <div class="card__info">
          <a class="card__title" [routerLink]="['/', 'product', card.id]">
            <h3>{{card.title}}</h3>
          </a>
          <div class="card__description">
            {{card.description}}
          </div>
        </div>

        <hr class="separator"/>

        <div class="card__footer">
          <span class="card__price">{{card.price | convertPipeTs}}</span>
          @if (!isCartVariant()) {
            <app-button (click)="onAddToCard()">
                @if (!inCart()) {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24" height="24"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6">
                    </path>
                  </svg>
                } @else {
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <polyline points="20 6 9 17 4 12"></polyline>
                  </svg>
                }
            </app-button>
          }
        </div>

      </div>
    </div>
  </div>
}


