@use '../../styles/helpers' as *;


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-dark-700);
  //margin-top: rem(100);
  z-index: 900;
  &__inner {
    display: flex;
    justify-content: end;
    padding-block: rem(20);
  }
  &__label {
    color: var(--color-light-100);
  }
}
