<div class="header">
  <div class="header__inner container">

    <!--burger-->
    <button
      class="header__burger-button visible-mobile"
      [class.is-active]="isOpen()"
      type="button"
      aria-label="Open menu"
      (click)="onMenuClicked()"
    >
      <span class="header__burger-button_line"></span>
      <span class="header__burger-button_line"></span>
      <span class="header__burger-button_line"></span>
    </button>

    <div class="header__control-main">
      <a class="header__logo" [routerLink]="['/']">
        <app-logo></app-logo>
      </a>

      <div class="header__control-categories">
        <app-button [variant]="'secondary'" (click)="openModal(menuModalTemplate)">
          <app-categories></app-categories>
          Categories
        </app-button>
      </div>
    </div>

    @if (!isOpen()) {
      <div class="header__elements">

        @if (userImg()) {
          <app-button>
            <a href="https://e-commerce-admin-panel-xi.vercel.app/main">
              Admin
            </a>
          </app-button>
        }

        <app-button [variant]="'transparent'" (click)="openModal(searchPanel)">
          <app-search-icon></app-search-icon>
        </app-button>

        @if (userImg()) {
          <div class="header__profile">
            <app-button [variant]="'transparent'" (click)="onOpenUserList()">
              <img [src]="userImg()" alt="'img'" width="24" height="24"/>
            </app-button>

            @if (isOpenUserList()) {
              <ul class="header__profile-list">
                <app-button [variant]="'transparent'" (click)="onLogout()">
                  <li class="header__profile-item">
                    Logout
                  </li>
                </app-button>

              </ul>
            }

          </div>

        } @else {
          <app-button (click)="openModal(loginForm)" [variant]="'transparent'">
            <app-user-icon></app-user-icon>
          </app-button>
        }

        <div class="header__basket" [routerLink]="['/', 'cart']">
          @if (cartCount() !== 0) {
            <div class="header__basket-round">
              <span class="header__basket-round-number">{{cartCount()}}</span>
            </div>
          }
          <app-cart-icon></app-cart-icon>
        </div>
      </div>
    }


  </div>

  <div class="header__menu active" [class.active]="isOpen()">
    <app-navigation [categories]="categories()" [variant]="'burger'" (burgerMenuClose)="onMenuClicked()"></app-navigation>
  </div>
</div>

<ng-template #menuModalTemplate let-categories>
  <app-navigation
    [categories]="categories"
    [variant]="'modal'"
    [extended]="true">
  </app-navigation>
</ng-template>

<ng-template #searchPanel>
  <app-search-panel></app-search-panel>
</ng-template>

<ng-template #loginForm>
  <div class="center">
    <app-login-form>
      <app-button
        (click)="openFormModal(registrationForm)"
        [variant]="'transparent'">
        <h5>Registration!</h5>
      </app-button>
    </app-login-form>

  </div>
</ng-template>

<ng-template #registrationForm>
  <div class="center">
    <app-registration-form>
      <app-button
        (click)="openFormModal(loginForm)"
        [variant]="'transparent'">
        <h5>Login!</h5>
      </app-button>
    </app-registration-form>

  </div>
</ng-template>
