@use '../../styles/helpers' as *;

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(rem(300), 1fr));
  gap: rem(20);
  padding-top: rem(20);
  min-height: rem(400);
  //background-color: var(--color-light-100);

  @include mobile {
    grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));;
  }
}

svg {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

svg.ng-leave {
  opacity: 0;
  transform: scale(0.8);
}

svg.ng-enter {
  opacity: 1;
  transform: scale(1);
}
