<div class="form-wrapper">
  <h3 class="form-wrapper__title">Login</h3>
  <form class="form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form__inputs">


      <app-input
        [control]="registrationForm.controls.name"
        [id]="'name'"
        [placeholder]="'Name'"
        [isError]="isNameInvalid()"
      >
      </app-input>

      @if (isNameInvalid()) {
        <div
          class="error"
        >
          @if (name?.errors?.['required']) {
            <div>Name is required</div>
          }
          @if (name?.errors?.['minlength']) {
            <div>The Name must not be less than 3 characters.</div>
          }
          @if (name?.errors?.['maxlength']) {
            <div>The Name must not be more than 8 characters.</div>
          }
        </div>
      }

      <app-input
        [control]="registrationForm.controls.email"
        [id]="'email'"
        [placeholder]="'Email'"
        [isError]="isEmailInvalid()"
      >
      </app-input>

      @if (isEmailInvalid()) {
        <div
          class="error"
        >
          @if (email?.errors?.['required']) {
            <div>Email is required</div>
          }
          @if (email?.errors?.['email']) {
            <div>Email is required</div>
          }
          @if (email?.errors?.['minlength']) {
            <div>The Email address must not be less than 3 characters.</div>
          }
        </div>
      }

      <app-input
        [control]="registrationForm.controls.password"
        [id]="'password'"
        [placeholder]="'Password'"
        [type]="'password'"
        [isError]="isPasswordInvalid()"
      >
      </app-input>

      @if (isPasswordInvalid()) {
        <div
          class="error"
        >
          @if (password?.errors?.['required']) {
            <div>Password is required</div>
          }
          @if (password?.errors?.['minlength']) {
            <div>The password must not be less than 3 characters.</div>
          }
        </div>
      }

      <app-input
        [control]="registrationForm.controls.avatar"
        [id]="'avatar'"
        [placeholder]="'Avatar link'"
        [type]="'text'"
        [isError]="isPasswordInvalid()"
      >
      </app-input>

      @if (isAvatarInvalid()) {
        <div
          class="error"
        >
          @if (password?.errors?.['required']) {
            <div>Avatar is required</div>
          }
        </div>
        @if (registrationForm.controls.avatar.errors?.['invalidAvatar']) {
          <div class="error">Invalid avatar URL. Please use a valid image URL.</div>
        }
      }
    </div>


    <div class="form__links">
      <app-button>Submit</app-button>
      <ng-content></ng-content>
    </div>


  </form>

</div>

