<div class="container">
  <app-carousel
    [delay]="undefined"
    [slides]="popularCategories() | filtersForSlider: 'image'"
    [links]="popularCategories() | filtersForSlider: 'id'"
    [mainVariant]="true"
  ></app-carousel>
</div>
<app-section [title]="'Suggestion for you'">
  <app-card-list
    section-body
    [products]="suggestedProducts()"
  ></app-card-list>
  <app-button section-button [variant]="'primary'">View all products</app-button>
</app-section>


<app-section [isAlternative]="true" [title]="'Categories'">
    <app-suggestion-categories
      section-body
      [popularCategories]="popularCategories()"
      [isLoading]="popularCategoriesLoading()">
    </app-suggestion-categories>
</app-section>



