<div class="pagination">
  <app-button [variant]="'navigation'" (click)="previous()">
    <div class="pagination__content">
      <app-arrow-left-icon></app-arrow-left-icon>
      <span>Previous</span>
    </div>
  </app-button>


  <div class="pagination__pages">
    @for (pageIndex of pageIndexes(); track pageIndex) {
      @if (pageIndex !== '...') {
        <app-button
          [variant]="'navigation'"
          (click)="setIndex(pageIndex)"
          [active]="pageIndex === activeIndex()"
        >
          {{pageIndex}}
        </app-button>
      } @else {
        <div class="pagination__pages-dots">...</div>
      }

    }
  </div>

  <app-button [variant]="'navigation'" (click)="next()">
    <div class="pagination__content">
      <app-arrow-right-icon></app-arrow-right-icon>
      <span>Next</span>
    </div>
  </app-button>
</div>
