<div class="search-panel">
  <div class="search-panel__inner">
    <app-input [type]="'text'" [placeholder]="'Search'" [control]="search"></app-input>
    @if (showDropdown()) {
      <div class="search-panel__list">
        @if (searchedProducts(); as products) {
          @for (product of products; track product.id) {
            <app-card [variant]="'horizontal'" [card]="product"></app-card>
          } @empty {
            <div class="search-panel__empty">Products not found</div>
          }
        } @else {
          <div class="empty-block">
            <app-loader></app-loader>
          </div>
        }
      </div>
    }
  </div>

</div>

