<div class="cart">
  <div class="cart__inner">
    <div class="container">
      <h1 class="cart__title">YOUR CARD</h1>
      <div class="cart__content">
        <div class="cart__list">
          @for (cartItem of cartItems(); track cartItem.product.id) {
            <div class="cart__item">
              <app-card
                [variant]="'horizontal'"
                [isCartVariant]="true"
                [card]="cartItem.product"
              ></app-card>
              <div class="cart__item-control">
                <div>
                  <app-button [variant]="'transparent'" (click)="removeFromCart(cartItem.product.id)">
                   <app-remove-icon></app-remove-icon>
                  </app-button>
                </div>

                <div class="cart__item-adder">
                  <app-button [variant]="'transparent'" (click)="removeOneMoreProduct(cartItem.product.id)">
                    <app-minus-icon></app-minus-icon>
                  </app-button>
                  <span class="cart__item-quantity">{{cartItem.quantity}}</span>
                  <app-button [variant]="'transparent'" (click)="addOneMoreProduct(cartItem.product.id)">
                    <app-plus-icon></app-plus-icon>
                  </app-button>
                </div>
              </div>
            </div>

          } @empty {
            <div class="empty-block">Cart list is empty</div>
          }

        </div>
        <div class="cart__order-info">
          <div class="cart__order-data">
            <h2>Order Summary</h2>
            <table class="cart__table">
              <tr class="cart__table-row">
                <td class="cart__table-data">Count</td>
                <td class="cart__table-data">{{cartCount()}}</td>
              </tr>
              <tr class="cart__table-row">
                <td class="cart__table-data">Total</td>
                <td class="cart__table-data">{{totalPrice() | convertPipeTs}}</td>
              </tr>
            </table>
          </div>
          @if (cartItems().length > 0) {
            <app-cart-form (formSubmitted)="cartFormSubmit(cartAlert, $event)">Order</app-cart-form>
          }
        </div>
      </div>
    </div>
  </div>

</div>

<ng-template #cartAlert let-name>
  <div class="center">
    <div class="bg-light cart__modal">
      <span class="cart__modal-text">
        Thank you, {{name}}, for your order! We will send you a message soon.
      </span>
      <app-button (click)="onBackToMain()">Back to main</app-button>
    </div>

  </div>
</ng-template>
