
  <div class="product-list">
    <div class="container">
      <div class="product-list__inner">
        <div class="product-list__navigation">
          <app-navigation [categories]="categories()"></app-navigation>
        </div>
        @if (productsLoading()) {
          <div class="empty-block">
            <app-loader></app-loader>
          </div>
        } @else if ((products() ?? []).length > 0) {
          <div class="product-list__products">

            <div class="product-list__header">
              <h2 class="product-list__title">{{currentCategoryName()}} <span>({{this.countOfProducts()}})</span></h2>
              <app-button [variant]="'secondary'" (click)="setFiltersActive()">
                <app-filter-icon></app-filter-icon>
              </app-button>
            </div>


            <div class="product-list__filters" [class.product-list__filters-active]="filtersActive()" >
              <h3>Filter by price:</h3>
              <div class="product-list__inputs">
                <span class="product-list__inputs-span">From:</span>
                <app-input [control]="filterForm.controls.from" [type]="'number'" [placeholder]="'1'"></app-input>
                <span class="product-list__inputs-span">To:</span>
                <app-input [control]="filterForm.controls.to" [type]="'number'" [placeholder]="'1000'"></app-input>
              </div>
            </div>


            <div class="product-list__content">
              <app-card-list [products]="products()"></app-card-list>
              @if (countOfProducts(); as number) {
                <div class="product-list__pagination">
                  <app-pagination
                    [countOfProducts]="number"
                    [appPaginationChunkSize]="appPaginationChunkSize()"
                    [(activeIndex)]="activePage"
                  >
                  </app-pagination>
                </div>

              }
            </div>
          </div>
        } @else {
          <div class="empty-block">List is empty</div>
        }
      </div>
    </div>
  </div>




