@use '../../../styles/helpers' as *;

.button {
  display: flex;
  align-items: center;
  padding-inline: rem(20);
  padding-block: rem(10);
  color: var(--color-light-100);
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border-style: solid;
  border-radius: rem(5);
  @include hover-transition;

  @include mobile-s {
    padding-inline: rem(10);
    padding-block: rem(8);
  }
}

.primary {
  background: var(--color-indigo-500);
  border-color: var(--color-indigo-500);

  &:hover {
    background: var(--color-indigo-100);
    border-color: var(--color-indigo-100);
  }

}

.navigation {
  background: transparent;
  border: rem(1) solid rgba(0,0,0, 0.1);
  padding: rem(8) rem(14);
  color: var(--color-dark-900);
  &:hover {
    background: var(--color-indigo-100);
  }
}

.secondary {
  background: transparent;
  border-color: var(--color-indigo-500);
  color: var(--color-dark-100);

  &:hover {
    color: var(--color-light-100);
    background: var(--color-indigo-100);
  }
}
