@use '../../styles/helpers' as *;


.navigation {
  height: 100%;

  &__wrapper {
    display: flex;
  }

  &__list {
    width: var(--nav-width);
    padding-right: rem(10);
  }

  &__item {
    width: 100%;
    display: inline-block;
    text-align: center;
  }


  &__link {
    display: inline-block;
    justify-content: space-between;
    text-align: start;
    width: 100%;
    height: 100%;
    padding: rem(20);
    transition: all 0.3s ease;
    &--active {
      background-color: rgba(var(--color-indigo-100-rgba), 0.2);
    }
  }

  &.a-side .navigation__link {
    position: relative;
    color: var(--color-dark-900);
    border-radius: rem(4);
  }

  &.burger .navigation__link {
    width: auto;
    color: var(--color-dark-100);

    &:hover {
      color: var(--color-light-100);
    }
  }

  &__content {
    width: 100%;
    &-title {
      margin-bottom: rem(10);
    }
    &-list {
      display: flex;
      flex-direction: column;
      padding-bottom: rem(10);

      &-item {
        display: flex;
        flex-direction: column;
        row-gap: rem(20);
      }

      &-wrapper {
        width: rem(300);
        height: rem(300);
        border-radius: rem(4);
        overflow: hidden;
      }

      &-img {
        width: 100%;
        height: 100%;
      }

      &-link {
        align-self: start;
        color: var(--color-blue);
        text-decoration: underline;
        transition: opacity 0.2s ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
    &-item {
      padding: rem(5) rem(5) rem(5) 0;
    }
    &-link {
      color: var(--color-dark-500);
      transition: all 0.3s ease;
      &:hover {
        color:  var(--color-indigo-500);
      }
    }
  }
}

