
@if (categories() | filterNamePipe; as filteredCategories) {
  <nav class="navigation" [ngClass]="variant()">
    <div class="navigation__wrapper">
      <ul class="navigation__list">
        @for ( category of filteredCategories; track category) {
          <li
            class="navigation__item"
            [class.navigation__link--active]="category === activeCategory()"
            (mouseover)="onMouseOver(category)"
            (focus)="onMouseOver(category)"
            tabindex="0"
          >
            <a href="#" class="navigation__link">{{category}}</a>
          </li>
        }
      </ul>
      @if (extended()) {
        @if (categories() | filterSubCategories : activeCategory(); as subCategories) {
          <div class="navigation__content">
            <h2 class="navigation__content-title">{{activeCategory()}}</h2>
            <ul class="navigation__content-list">
              @for (subCategory of subCategories; track subCategory._id) {
                <li class="navigation__content-item">
                  <a href="#" class="navigation__content-link">{{subCategory.name}}</a>
                </li>
              }
            </ul>
          </div>
        }
      }
    </div>
  </nav>
}





