
@if (categories(); as filteredCategories) {
  <nav class="navigation" [ngClass]="variant()">
    <div class="navigation__wrapper">
      <ul class="navigation__list">
        @for ( category of filteredCategories; track category) {
          <li
            class="navigation__item"
            [class.navigation__link--active]="category === activeCategory()"
            (mouseover)="onMouseOver(category)"
            (focus)="onMouseOver(category)"
            tabindex="0"
          >
            <a href="#" class="navigation__link">{{category.name}}</a>
          </li>
        }
      </ul>
      @if (extended()) {
        @if (categories()) {
          <div class="navigation__content">
            <h2 class="navigation__content-title">{{activeCategory()?.name}}</h2>
            <ul class="navigation__content-list">
              <li class="navigation__content-list-item">
                <div class="navigation__content-list-wrapper">
                  <img [src]="activeCategory()?.image" alt="image" class="navigation__content-list-img">
                </div>
                <a class="navigation__content-list-link" href="#">See all products of this category</a>
              </li>
            </ul>
          </div>
        }
      }
    </div>
  </nav>
}





